<mat-tab-group>
  <mat-tab label="Despre Sigla">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Cateva cuvinte despre simbolurile care ne reprezinta</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row">
              <div class="col-xs-10 col-md-10 text-justify">
                <p>Aceasta sectiune are rolul de a descrie intelesul si simbolistica din spatele siglei care ne reprezinta.
                  Am ales cercul Zen din imaginea alaturata intrucat acesta exprima simplitatea, principiu care se regasete
                  in natura inconjuratoare si care este imbratisat de toate artele martiale.
                </p>
                <p>Din pacate, acest principiu nu este tocmai usor de pus in practica, intrucat societatea in care traim este
                  una care complica mult lucrurile, ne departeaza de natura si de acest principiu primordial care odata inteles
                  te ajuta sa vezi viata diferit.
                </p>
                <p>
                  Definitia aproximativa data de religia budista ar fi urmatoarea : "cercul infinitului, cercul simplitatii, cercul inceputurilor, cercul sfarsiturilor.
                  Vid si continut. Toate lucrurile care se vad sau nu se vad -- cercul vietii".
                </p>
                <p>
                  Japonezii au facut o arta din simplitate si se pare ca "Simplu" e un răspuns corect la multe întrebări. Nu degeaba se spune ca atunci când începi sa trăieşti mai simplu la exterior, ca începi sa trăieşti mai serios in interior.
                </p>
                <p>
                  Din păcate suntem destul de departe de această înţelegere si in nebunia noastră refuzăm această simplitate, ne apucam de adăugat, de "înfrumuseţat", pană când "simplu" ajunge sa nu mai poată fi recunoscut.
                  Iar refuzul acesta de a accepta simplitatea creează monştrii.
                </p>
                <p>
                  Practic scopul nostru declarat este de a ridica conceptul de "simplitate" la rang de valoare si de a ne educa elevii in acest spirit.<br>
                  EXEMPLU: Frumuseţea unei grădini japoneze derivă tocmai din simplitatea ei.
                </p>
              </div>

              <div class="col-xs-1 col-md-1 text-center p-2">
                <img src="assets/img/despre_zend.jpg" >
              </div>

              <mat-card-content>
                <img class="img-fluid" src ="assets/img/zen.png">
              </mat-card-content>

            </div>
            <div class="row pt-2">
              <div class="col-xs-12 col-md-12 text-left">
                <b>DENUMIRE</b><br>

                Numele clubului nostru este: <b>"Bodai shin Ju-Jitsu Dojo"</b> si se poate traduce astfel:<br>

                <b>Bodai shin</b> = a aspira la calea catre iluminare, in japoneza "satori".<br>

                <b>Ju-Jitsu</b> = arta supletei.<br>

                <b>Dojo</b> = sala de antrenament in care se practica calea.<br>

                Dupa cum se vede denumirea clubului inconjoara fidel cercul zen pentru a imbratisa mai indeaproape ideea de "simplitate" descrisa mai sus. Traducerea intregului concept fiind urmatoarea: "Practicand ju-jitsu aspir la calea catre iluminare".<br>
              </div>

              <div class="col-xs-1 col-md-1">
                <img class="img-fluid" src="assets/img/bodaishin.png">
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Istoric Bodai Shin">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Etape din evolutia clubului</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row">
              <div class="col-xs-12 col-md-12 text-justify" style="padding-bottom: 150px;">

                <nz-timeline nzMode="alternate">
                  <nz-timeline-item nzColor="green">
                    <b>2004 - 2008</b> - Antrenamente la Politia de Frontiera Constanta. Ulterior proiectul Shisei Ju-Jitsu Dojo ia fiinta si ne antrenam la Liceul Sportiv din Constanta sala de Lupte.
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>2009</b> - Proiectul Bodai Shin Dojo nu este definitivat insa ne antrenam in sala de sport a Scolii nr. 8 din Constanta unde sustinem o serie de demonstratii la
                    festivitatile scolii, impreuna de Sensei Bernardo Pasteur Baldon alaturi de care ne antrenam la acel moment.
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>August 2009</b>- Gasim o sala mai buna la Scola nr. 43 unde ne antrenam o perioada alaturi de Sensei Bernardo Pasteur Baldon (Berni cum ii spuneam noi) din Spania.
                    In paralel depunem actele la Ministerul Tineretului si Sportului pentru deschiderea unui Club Sportiv pe nume Bodai Shin Ju-Jitsu Dojo;
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>Iunie 2010</b> - In urma unei colaborari cu o firma, inchiriem sala de pe strada Grivita nr. 27 cu scopul de a evolua si a oferi conditii de antrenament la standarde
                    superioare, comparativ cu tot ce exista pe piata la acel moment.
                    Experienta buna a ultimilor 5 ani alaturi de Shisei Ju-Jutsu Dojo fiind un suport generos pentru noul proiect, dar nu suficient, intrucat standardul
                    pe care ni l-am impus implica provocari mult superioare. Daca mi s-ar permite o concluzie pana la acest moment as afirma ca toate acestea nu ar fi posibile
                    fara studiu, pasiune si multa daruire.
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    <b>August 2010</b> - <b>Martie 2020</b> - Oferim antrenamente de Judo, Ju-Jitsu, Wing-Chun pentru copii si adulti, dar si Tae-Bo pentru intretinere fizica.
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    <b>Aprile 2020</b> - Intram in lock down total din cauza pandemiei si continuam pentru cateva luni cu antrenamente online, care din pacate nu s-au dovedit a fi foarte eficiente.
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    <b>Iunie 2020</b> - Accident de motocicleta Ungureanu Marius - ruptura de ligamente genunchi drept. Timp de reflectie, concluzionat cu decizia mea de a inchide sala de pe Grivitei nr. 27.
                    care genera costuri foarte mari constient ca nu voi mai fi aceeasi persoana care am fost (ma refer la capacitatea mea de antrenament).
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    <b>Mai 2021</b> - Aparent restrictiile se relaxeaza dar ne aflam intr-o situatie confuza. Cu toate acestea reluam antrenamentele pe plaja din statiunea Mamaia unde predam
                     doar WingChun care presupune un efort mai soft comparativ cu Judo impreuna cu o multitudine de exercitii pentru recuperarea conditiei fizice pierdute.
                     In paralel ne aflam in cautarea unei sali pentru antrenamente, Sensei Adetu Daniel fiind direct implicat aici.
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    <b>Septembrie 2021</b> - Pandemia continua, valurile 3, 4 si 5. Intre timp am gasit o noua sala pentru antrenamente si ne desfasuram activitatea in conditii foarte bune.
                  </nz-timeline-item>

                  <nz-timeline-item>
                    <b>Ianuarie 2022</b> - Se contureaza un nucleu de copii alcatuit din practicanti vechi si noi. Continuam antrenamentele de Judo pentru copii si adulti.</nz-timeline-item>
                  </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Principii si valori">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Principiile si valorile care ne reprezinta</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row">
              <div class="col-xs-12 col-md-12 text-justify">
              <p>1. Voi fi mereu stăpânul gândurilor mele şi voi cultiva numai gânduri bune. În dojo îmi voi stăpâni stările sufleteşti pentru a nu îngreuna munca colegilor mei şi a mea.</p>
              <p>2. Întotdeauna îmi voi păzi limba pentru a nu rosti cuvinte dispreţuitoare sau supărătoare. Întotdeauna voi spune numai adevărul. Vreau s-a scult de două ori, să judec şi apoi să vorbesc. Pentru aceasta am două urechi şi o singură gură.<p>
              <p>3. Vreau să-mi supraveghez faptele. Voi lupta numai pentru adevăr, frumos şi pentru bine. Niciodată n-am să păgubesc pe cineva prin faptele mele.</p>
              <p>4. Voi glumi şi voi râde cu colegii mei, dar niciodată n-am să iau ceva în derâdere, n-am să stric momente solemne. Vreau să mă bucur de tot ceea ce este frumos.</p>
              <p>5. Voi asculta sfaturile antrenorilor şi ale colegilor mai bine pregătiţi şi voi încerca să le aplic. În situaţii serioase voi rămâne serios. Dacă am alte păreri personale, le voi arăta pe faţă.</p>
              <p>6. La orele de antrenament nu voi practica altceva decât sportul nostru: JU-JITSU. Vreau să-mi concord toate gândurile numai asupra ju-jitsu-ului. Voi progresa numai străduindu-mă neîncetat să dau maximum de randament. Vreau să ajut şi pe alţii să cunoască ju-jitsu-ul în splendida sa frumuseţe.</p>
              <p>7. În timpul concursurilor voi lupta curajos şi cinstit. Îmi voi stima adversarul şi mă voi strădui mereu să obţin victorii pentru echipa şi ţara mea. Ca învingător nu mă voi înfumura, iar ca învins voi munci înzecit pentru a mă pregăti
              <p>8. La durere nu mă voi tângui, demonstrând stăpânire de sine. Nu-mi voi indispune colegii prin urlete şi jeluiri. Voi ierta pe cei ce, cu sau fără voia lor, mi-au pricinuit aceste dureri.</p>
              <p>9. Voi lupta cinstit şi corect, nu mă voi lăuda şi nu voi căuta să ies în evidenţă. Dacă voi fi silit să mă apăr, sau să apăr pe alţii în cazul unui pericol, nu voi porni ca un sălbatec, ci voi folosi forţa şi cunoştinţele mele numai pentru a înfăptui binele şi a apăra devărul.</p>
              <p>10. “Înţeleptul cedează”, spune un vechi proverb. Vreau ca atât în viaţa de zi cu zi, cât şi la antrenamente, să cedez pentru a învinge. Niciodată n-am să fug din laşitate şi nu voi ocoli primejdia arătându-i spatele.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Instructori"> Content 3 </mat-tab>
</mat-tab-group>
