<mat-tab-group>
  <mat-tab label="Despre Sigla">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp" title="Siglă Bodai Shin Dojo">
            <mat-card-title>Câteva cuvinte despre simbolurile care ne reprezintă</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="mt-3">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-4 text-center p-2">
                <img class="img-fluid" src="assets/img/zenCircle.webp" title="Sursa de inspiratie a siglei nostru">
              </div>
            </div>

            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <p>Această secțiune are rolul de a descrie înțelesul și simbolistica din spatele siglei care ne reprezintă.
                  Am ales cercul Zen din imaginea alăturată întrucât acesta exprimă simplitatea, principiu care se regasete
                  în natură înconjurătoare și care este îmbrățișat de toate artele marțiale.
                </p>
                <p>Din păcate, acest principiu nu este tocmai ușor de pus în practică, întrucât societatea în care trăim este
                  una care complică mult lucrurile, ne depărtează de natură și de acest principiu primordial care odată înțeles
                  te ajută să vezi viață diferit.
                </p>
                <p>
                  Definiția aproximativă dată de religia budistă ar fi următoarea : "cercul infinitului, cercul simplității, cercul începuturilor, cercul sfarsiturilor.
                  Vid și conținut. Toate lucrurile care se văd sau nu se văd -- cercul vieții".
                </p>
                <p>
                  Japonezii au făcut o artă din simplitate și se pare că "Simplu" e un răspuns corect la multe întrebări. Nu degeaba se spune că atunci când începi să trăieşti mai simplu la exterior, că începi să trăieşti mai serios în interior.
                </p>
                <p>
                  Din păcate suntem destul de departe de această înţelegere si in nebunia noastră refuzăm această simplitate, ne apucam de adăugat, de "înfrumuseţat", pană când "simplu" ajunge sa nu mai poată fi recunoscut.
                  Iar refuzul acesta de a accepta simplitatea creează monştrii.
                </p>
                <p>
                  Practic scopul nostru declarat este de a ridica conceptul de "simplitate" la rang de valoare si de a ne educa elevii in acest spirit.<br>
                  EXEMPLU: Frumuseţea unei grădini japoneze derivă tocmai din simplitatea ei.
                </p>
              </div>
            </div>

            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-center p-2">
                <mat-card-content>
                  <img class="img-fluid" src ="assets/img/zenGarden.webp" title="Gradină japoneză Zen">
                </mat-card-content>
              </div>
            </div>

            <div class="row pt-2 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-left">
                <b>DENUMIRE</b><br>

                Numele clubului nostru este: <b>"Bodai shin Ju-Jitsu Dojo"</b> și se poate traduce astfel:<br>

                <b>Bodai shin</b> = a aspira la calea către iluminare, în japoneză "satori".<br>

                <b>Ju-Jitsu</b> = arta supletei.<br>

                <b>Dojo</b> = sala de antrenament în care se practică calea.<br>

                După cum se vede denumirea clubului înconjoară fidel cercul zen pentru a îmbrățișa mai îndeaproape ideea de "simplitate" descrisă mai sus. Traducerea întregului concept fiind următoarea: "Practicând ju-jitsu aspir la calea către iluminare".<br>
              </div>
            </div>

            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-4">
                <img class="img-fluid" src="assets/img/bodaishin.webp" title="Siglă Bodai Shin Dojo">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Istoric Bodai Shin">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp" title="Siglă Bodai Shin Dojo">
            <mat-card-title>Etape din evoluția clubului</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">

                <nz-timeline nzMode="alternate">
                  <nz-timeline-item nzColor="green">
                    - <b>2004 - 2008</b><p>Antrenamente la Poliția de Frontieră Constanța alături de Anton Gheorghe și Daniel Artic. Ulterior proiectul Shisei Ju-Jitsu Dojo ia ființă și ne antrenăm la Liceul Sportiv din Constanța sala de Lupte.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>2009</b> - <p>Proiectul Bodai Shin Dojo nu este definitivat, însă ne antrenăm în sala de sport a Școlii nr. 8 din Constanța unde susținem o serie de demonstrații la
                      festivitățile școlii, împreună de Sensei Bernardo Pasteur Baldon alături de care ne antrenăm la acel moment.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    - <b>August 2009</b><p>Găsim o sala mai bună la Scola nr. 43 unde ne antrenăm o perioada alături de Sensei Bernardo Pasteur Baldon (Berni cum îi spuneam noi - medaliat in campionatul de Judo al Spaniei).
                      În paralel depunem actele la Ministerul Tineretului și Sportului pentru deschiderea unui Club Sportiv pe nume Bodai Shin Ju-Jitsu Dojo</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>Iunie 2010</b> - <p>În urmă unei colaborări cu o firma, închiriem sala de pe stradă Grivița nr. 27 cu scopul de a evolua și a oferi condiții de antrenament la standarde
                      superioare, comparativ cu tot ce există pe piață la acel moment.
                      Experiență bună a ultimilor 5 ani alături de Shisei Ju-Jutsu Dojo fiind un suport generos pentru noul proiect, dar nu suficient, întrucât standardul
                      pe care ni l-am impus implică provocări mult superioare. Dacă mi s-ar permite o concluzie până la acest moment aș afirmă că toate acestea nu ar fi posibile
                      fără studiu, pasiune și multă dăruire.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>01 Septembrie 2010</b><p>Are loc deschiderea oficială a Clubului Sportiv Bodai Shin Ju-Jitsu Dojo.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>06 Septembrie 2010</b><p>Lansarea site-ului oficial Bodai Shin (www.bodaishin.ro).</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>01.01.2012</b> - <p>C. S. Bodai Shin Dojo devine membru afiliat al Federației Române de Judo</p>
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    - <b>06 Septembrie 2010</b> - <b>Martie 2020</b><p>Oferim antrenamente de Judo, Ju-Jitsu, Wing-Chun pentru copii și adulți, dar și Tae-Bo pentru întreținere fizică.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    <b>Aprile 2020</b> -<p>Intram in lock down total din cauza pandemiei si continuam pentru cateva luni cu antrenamente online, care din pacate nu s-au dovedit a fi foarte eficiente.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    - <b>Iunie 2020</b><p>Accident de motocicletă Ungureanu Marius - ruptură de ligamente genunchi drept (pe fondul mai multor accidentări vechi din sala). Timp de reflecție, concluzionat cu decizia mea de a închide sala de pe Griviței nr. 27.
                      care genera costuri foarte mari, conștient că nu voi mai fi aceeași persoană care am fost (mă refer la capacitatea mea de antrenament).</p>
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    <b>Mai 2021</b> -<p> Aparent, restricțiile se relaxează dar ne aflăm într-o situație confuză. Cu toate acestea reluăm antrenamentele pe plajă din stațiunea Mamaia unde predăm
                      doar WingChun care presupune un efort mai soft comparativ cu Judo, împreună cu o multitudine de exerciții pentru recuperarea condiției fizice pierdute.
                      În paralel ne aflăm în căutarea unei săli pentru antrenamente, Sensei Adetu Daniel fiind direct implicat aici.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    - <b>Septembrie 2021</b> <p>Pandemia continuă, valurile 3, 4 și 5, ne-am vaccinat cu 2 doze. Între timp am găsit o nouă sala pentru antrenamente și ne desfășurăm activitatea în condiții foarte bune.</p>
                  </nz-timeline-item>

                  <nz-timeline-item>
                    <b>Ianuarie 2022</b> - <p>Începem reconstrucția. Se conturează un nucleu de copii alcătuit din practicanți vechi și noi. Continuăm antrenamentele de Judo, Ju-Jitsu și Wing-Chun pentru copii și adulți.</p></nz-timeline-item>
                  </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" id="clock-circle-o"></i>
                </ng-template>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Principii si valori">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp" title="Siglă Bodai Shin Dojo">
            <mat-card-title>Principiile și valorile care ne reprezintă</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-3">
                <img class="img-fluid" src="/assets/img/mrKano.webp" title="DR. Jigoro Kano fondator Judo">
                <mat-card-subtitle class="mat-card-subtitle mt-2 text-center">Sensei Jigoro Kano - fondator Judo</mat-card-subtitle>
              </div>
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
              <p>1. Voi fi mereu stăpânul gândurilor mele şi voi cultiva numai gânduri bune. În dojo îmi voi stăpâni stările sufleteşti pentru a nu îngreuna munca colegilor mei şi a mea.</p>
              <p>2. Întotdeauna îmi voi păzi limba pentru a nu rosti cuvinte dispreţuitoare sau supărătoare. Întotdeauna voi spune numai adevărul. Vreau s-a scult de două ori, să judec şi apoi să vorbesc. Pentru aceasta am două urechi şi o singură gură.<p>
              <p>3. Vreau să-mi supraveghez faptele. Voi lupta numai pentru adevăr, frumos şi pentru bine. Niciodată n-am să păgubesc pe cineva prin faptele mele.</p>
              <p>4. Voi glumi şi voi râde cu colegii mei, dar niciodată n-am să iau ceva în derâdere, n-am să stric momente solemne. Vreau să mă bucur de tot ceea ce este frumos.</p>
              <p>5. Voi asculta sfaturile antrenorilor şi ale colegilor mai bine pregătiţi şi voi încerca să le aplic. În situaţii serioase voi rămâne serios. Dacă am alte păreri personale, le voi arăta pe faţă.</p>
              <p>6. La orele de antrenament nu voi practica altceva decât sportul nostru: JU-JITSU. Vreau să-mi concord toate gândurile numai asupra ju-jitsu-ului. Voi progresa numai străduindu-mă neîncetat să dau maximum de randament. Vreau să ajut şi pe alţii să cunoască ju-jitsu-ul în splendida sa frumuseţe.</p>
              <p>7. În timpul concursurilor voi lupta curajos şi cinstit. Îmi voi stima adversarul şi mă voi strădui mereu să obţin victorii pentru echipa şi ţara mea. Ca învingător nu mă voi înfumura, iar ca învins voi munci înzecit pentru a mă pregăti
              <p>8. La durere nu mă voi tângui, demonstrând stăpânire de sine. Nu-mi voi indispune colegii prin urlete şi jeluiri. Voi ierta pe cei ce, cu sau fără voia lor, mi-au pricinuit aceste dureri.</p>
              <p>9. Voi lupta cinstit şi corect, nu mă voi lăuda şi nu voi căuta să ies în evidenţă. Dacă voi fi silit să mă apăr, sau să apăr pe alţii în cazul unui pericol, nu voi porni ca un sălbatec, ci voi folosi forţa şi cunoştinţele mele numai pentru a înfăptui binele şi a apăra devărul.</p>
              <p>10. “Înţeleptul cedează”, spune un vechi proverb. Vreau ca atât în viaţa de zi cu zi, cât şi la antrenamente, să cedez pentru a învinge. Niciodată n-am să fug din laşitate şi nu voi ocoli primejdia arătându-i spatele.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Instructori">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp" title="Siglă Bodai Shin Dojo">
            <mat-card-title>Despre cei care ne îndrumă</mat-card-title>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <!-- <div class="col-xs-12 col-md-3">
                <img class="img-fluid" src="/assets/img/mrKano.webp">
                <mat-card-subtitle class="mat-card-subtitle mt-2 text-center">Sensei Jigoro Kano - fondator Judo</mat-card-subtitle>
              </div> -->
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <mat-card-header>
                  <img mat-card-avatar class="img-fluid" src="assets/img/ungureanu_marius.webp" title="Sensei Ungureanu Marius">
                  <mat-card-title>Ungureanu Cosmin Marius</mat-card-title>
                </mat-card-header>
              <p>
                Născut în Mangalia Județul Constanța la dată de 15.03.1975, încep artele marțiale în anul 1988 în sala Academiei Navale Mircea Cel Bătrân avându-l că sensei
                pe Dumitrescu Nicolae, alături de care voi evolua până în anul 1999 și sub îndrumarea căruia obțîn în acest interval următoarele grade: 21.08.1991, 4 kyu (Olimp),
                23.08.1992, 3 kyu (Olimp), 21.08.1994, 2 kyu (Constanța), 05.02.1995, 1 kyu (Galați).
                Alături de sensei Dumitrescu particip la stagii și competiții naționale culminând cu obținerea unei medalii de bronz la secțiunea kumite în campionatul național de
                karate tradițional de la Hunedoara în toamna anului 1995.</p>
              <p>

              <p>
                Din motive bine întemeiate sunt nevoit să renunț o perioada la antrenemente întrucât urmă să-mi susțin examenul de licență, coroborat cu înscrierea la masterat și
                cu îndeplinirea stagiului militar obligatoriu.
              </p>
              <p>
                În 2004, după armată, revin în forță și mă alătur grupului unde se antrena Dan Artic (coleg de armată) unde îi întâlnesc pe viitorii mei prieteni și asociați,
                Anton Gheorghe și Adetu Daniel alături de care mă voi antrena sub egida clubului A.C.S. Frontieră Tomis Constanța.
              </p>
              <p>
                Aici m-am antrenat (am evoluat exponențial) pe Judo și Ju-jistu pentru că la doi ani distanță pe dată de 28.11.2006 să susțîn examenul de 1 Dan în cadrul stagiului internațional de la
                Constanța avându-l că examinator pe Shike Giacomo Spartaco Bertoleti 9 Dan, Președinte al World Ju-jitsu Kobudo Organization, moment care îmi va schimbă definitiv
                viziunea în ceea ce privește drumul pe care îl voi urmă.
              </p>
              <p>
                În intervalul următor particip la numeroase stagii naționale conduse de maeștri cu renume național și internaționali cum ar fi: Venus 23-26 Iunie 2006
                stagiul "Internațional Marțial Arts Seminar" condus de Kancho Yoshiji Soeno (President of WKA Shidokan); Constanța 04 - 06.09.2009 Stagiu organizat de Clubul C.S. Varan
                sub egida World Ju-Jitsu Kobudo Organization sub îndrumarea Shike G.S. Bertoleti și George Chivaran 6 Dan Ju-jutsu; 05 - 11.07.2010 Eforie Sud Cantonament de pregătire
                alături de Clubul CS Varan sub îndrumarea George Chivaran; 29 - 31.07.2010 Constanța și Corbu Stagiu de pregătire Chivaran George 6 Dan Ju-Jutsu, 26 - 28.08.2010 Constanța
                și Corbu, Stagiu de pregătire Chivaran George 6 Dan Ju-Jutsu, etc.
              </p>
              <p>
                În anii care urmează și până în prezent voi fi într-o continuă competiție cu mine însumi din dorința de a evolua pe toate planurile (marțiale și nu numai) punând în practică
                antrenamentul paralel (Judo, Ju-Jitsu, Karate, Wing Chun).
              </p>
              </div>
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <mat-card-header>
                  <img mat-card-avatar class="img-fluid" src="assets/img/adetu_daniel.webp" title="Sensei Adetu Daniel">
                  <mat-card-title>Adetu Daniel</mat-card-title>
                </mat-card-header>
              <p>
                Născut în orașul Constanța la dată de 23.02.1970, întru în contact cu artele marțiale în anul 1994 la îndrumarea bunului meu prieten Balint Claudiu, care mă convinge
                să merg cu el la sala unde se antrena și unde i-am avut că Sensei pe Paul Dicu și Chevici Cristian, alături de care încep să deslușesc tainele Aikijutsului.
              </p>
              <p>
                După o perioada de timp sensei Chevici se desparte de dojoul la care ne antrenăm, iar eu i-au decizia de a-l urmă, începând să studiez alături de acesta Bu-Tăi Jutsu în
                cadrul grupului Nihon Kobudo Renmei secția România.
              </p>
              <p>
                În toată această perioada avansez până la gradul de 1 kyu, după care îmi întrerup activitatea sportivă fiind nevoit să mă imbarc pentru a naviga.
                Între timp Sensei Chevici pleacă pentru o perioada nedeterminată la Orăștie unde se și stabilește.
              </p>
              <p>
                În 2001 mă întorc din voiaj și neavând unde să mă antrenez, mă întâlnesc întâmplător cu Artac Daniel și mă hotărăsc să merg la sala unde acesta se atrena, loc unde îl cunosc pe Horia Anton Gheorghe, alături
                e care încep să studiez Ju-Jutsu și Judo sub egida A.C.S. Frontieră Tomis Constanța, pentru că mai târziu să îl întâlnesc și pe Ungureanu Marius care se alătură grupului.
              </p>
              <p>
                Pe dată de 15.10.2006 susțîn examenul de 1 Dan (shodan) in cadrul stagiului de la București organizat sub egida World Ju-Jitsu Kobudo Organization sub îndrumarea
                Shike G.S. Bertoleti și George Chivaran 6 Dan Ju-jutsu. Între timp continui să particip la diferite stagii și seminarii alături de diverși maeștrii ai artelor marțiale,
                unde particip alături de colegii mei sau singur:
              </p>
              <p>
                Venus 17-19 iunie 2005 stagiul "International Martial Arts Seminar"; Venus 23-26 Iunie 2006 stagiul "International Martial Arts Seminar" condus de Kancho Yoshiji Soeno
                (President of WKA Shidokan); 13-15 octombrie 2006 Stagiul organizat de Clubul C.S. Varan sub egida World Ju-Jitsu Kobudo Organization sub indrumarea Shike G.S. Bertoleti si
                George Chivaran 6 Dan Ju-jutsu; Venus 22-24 iunie 2007 stagiul "International Martial Arts Seminar"; 25-28 octombrie 2007 Stagiu organizat de Clubul C.S. Varan sub egida
                World Ju-Jitsu Kobudo Organization sub indrumarea Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jitsu; 23-25 noiembrie 2007 participant la Festivalul International
                "Arte Martiale Fara Frontiere" de la Timisoara sub indrumarea unor maestri de renume mondial cum ar fi: Soke Fumon Tanaka, Shike Giacomo Spartaco Bertoletti;
                Maitre Pham Xuam Tong, Shihan Jozsef Borza Constanta 04 - 06.09.2009 Stagiu organizat de Clubul C.S. Varan sub egida World Ju-Jitsu Kobudo Organization sub indrumarea
                Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jutsu; 05 - 11.07.2010 Eforie Sud Cantonament de pregatire alaturi de Clubul CS Varan sub indrumarea George Chivaran;
                29 - 31.07.2010 Constanta si Corbu Stagiu de pregatire Chivaran George 6 Dan Ju-Jutsu; 26 - 28.08.2010 Constanta si Corbu, Stagiu de pregatire Chivaran George 6 Dan
                Ju-Jutsu.
              </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

  </mat-tab>
</mat-tab-group>
