<mat-tab-group>
  <mat-tab label="Despre Sigla">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Cateva cuvinte despre simbolurile care ne reprezinta</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="mt-3">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-4 text-center p-2">
                <img class="img-fluid" src="assets/img/zenCircle.jpg">
              </div>
            </div>

            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <p>Aceasta sectiune are rolul de a descrie intelesul si simbolistica din spatele siglei care ne reprezinta.
                  Am ales cercul Zen din imaginea alaturata intrucat acesta exprima simplitatea, principiu care se regasete
                  in natura inconjuratoare si care este imbratisat de toate artele martiale.
                </p>
                <p>Din pacate, acest principiu nu este tocmai usor de pus in practica, intrucat societatea in care traim este
                  una care complica mult lucrurile, ne departeaza de natura si de acest principiu primordial care odata inteles
                  te ajuta sa vezi viata diferit.
                </p>
                <p>
                  Definitia aproximativa data de religia budista ar fi urmatoarea : "cercul infinitului, cercul simplitatii, cercul inceputurilor, cercul sfarsiturilor.
                  Vid si continut. Toate lucrurile care se vad sau nu se vad -- cercul vietii".
                </p>
                <p>
                  Japonezii au facut o arta din simplitate si se pare ca "Simplu" e un răspuns corect la multe întrebări. Nu degeaba se spune ca atunci când începi sa trăieşti mai simplu la exterior, ca începi sa trăieşti mai serios in interior.
                </p>
                <p>
                  Din păcate suntem destul de departe de această înţelegere si in nebunia noastră refuzăm această simplitate, ne apucam de adăugat, de "înfrumuseţat", pană când "simplu" ajunge sa nu mai poată fi recunoscut.
                  Iar refuzul acesta de a accepta simplitatea creează monştrii.
                </p>
                <p>
                  Practic scopul nostru declarat este de a ridica conceptul de "simplitate" la rang de valoare si de a ne educa elevii in acest spirit.<br>
                  EXEMPLU: Frumuseţea unei grădini japoneze derivă tocmai din simplitatea ei.
                </p>
              </div>
            </div>

            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-center p-2">
                <mat-card-content>
                  <img class="img-fluid" src ="assets/img/zenGarden.png">
                </mat-card-content>
              </div>
            </div>

            <div class="row pt-2 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-left">
                <b>DENUMIRE</b><br>

                Numele clubului nostru este: <b>"Bodai shin Ju-Jitsu Dojo"</b> si se poate traduce astfel:<br>

                <b>Bodai shin</b> = a aspira la calea catre iluminare, in japoneza "satori".<br>

                <b>Ju-Jitsu</b> = arta supletei.<br>

                <b>Dojo</b> = sala de antrenament in care se practica calea.<br>

                Dupa cum se vede denumirea clubului inconjoara fidel cercul zen pentru a imbratisa mai indeaproape ideea de "simplitate" descrisa mai sus. Traducerea intregului concept fiind urmatoarea: "Practicand ju-jitsu aspir la calea catre iluminare".<br>
              </div>
            </div>

            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-4">
                <img class="img-fluid" src="assets/img/bodaishin.png">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Istoric Bodai Shin">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Etape din evolutia clubului</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">

                <nz-timeline nzMode="alternate">
                  <nz-timeline-item nzColor="green">
                    - <b>2004 - 2008</b><p>Antrenamente la Politia de Frontiera Constanta alaturi de Anton Gheorghe si Daniel Artic. Ulterior proiectul Shisei Ju-Jitsu Dojo ia fiinta si ne antrenam la Liceul Sportiv din Constanta sala de Lupte.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>2009</b> - <p>Proiectul Bodai Shin Dojo nu este definitivat, insa ne antrenam in sala de sport a Scolii nr. 8 din Constanta unde sustinem o serie de demonstratii la
                    festivitatile scolii, impreuna de Sensei Bernardo Pasteur Baldon alaturi de care ne antrenam la acel moment.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    - <b>August 2009</b><p>Gasim o sala mai buna la Scola nr. 43 unde ne antrenam o perioada alaturi de Sensei Bernardo Pasteur Baldon (Berni cum ii spuneam noi) din Spania.
                    In paralel depunem actele la Ministerul Tineretului si Sportului pentru deschiderea unui Club Sportiv pe nume Bodai Shin Ju-Jitsu Dojo;</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>Iunie 2010</b> - <p>In urma unei colaborari cu o firma, inchiriem sala de pe strada Grivita nr. 27 cu scopul de a evolua si a oferi conditii de antrenament la standarde
                    superioare, comparativ cu tot ce exista pe piata la acel moment.
                    Experienta buna a ultimilor 5 ani alaturi de Shisei Ju-Jutsu Dojo fiind un suport generos pentru noul proiect, dar nu suficient, intrucat standardul
                    pe care ni l-am impus implica provocari mult superioare. Daca mi s-ar permite o concluzie pana la acest moment as afirma ca toate acestea nu ar fi posibile
                    fara studiu, pasiune si multa daruire.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>01 Septembrie 2010</b><p>Are loc deschiderea oficiala a Clubului Sportiv Bodai Shin Ju-Jitsu Dojo.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>06 Septembrie 2010</b><p>Lansarea site-ului oficial Bodai Shin (www.bodaishin.ro).</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="green">
                    <b>01.01.2012</b> - <p>C. S. Bodai Shin Dojo devine membru afiliat al Federatiei Romane de Judo</p>
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    - <b>06 Septembrie 2010</b> - <b>Martie 2020</b><p>Oferim antrenamente de Judo, Ju-Jitsu, Wing-Chun pentru copii si adulti, dar si Tae-Bo pentru intretinere fizica.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    <b>Aprile 2020</b> -<p>Intram in lock down total din cauza pandemiei si continuam pentru cateva luni cu antrenamente online, care din pacate nu s-au dovedit a fi foarte eficiente.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    - <b>Iunie 2020</b><p>Accident de motocicleta Ungureanu Marius - ruptura de ligamente genunchi drept (pe fondul mai multor accidentari vechi din sala). Timp de reflectie, concluzionat cu decizia mea de a inchide sala de pe Grivitei nr. 27.
                    care genera costuri foarte mari, constient ca nu voi mai fi aceeasi persoana care am fost (ma refer la capacitatea mea de antrenament).</p>
                  </nz-timeline-item>

                  <nz-timeline-item [nzDot]="dotTemplate">
                    <b>Mai 2021</b> -<p> Aparent, restrictiile se relaxeaza dar ne aflam intr-o situatie confuza. Cu toate acestea reluam antrenamentele pe plaja din statiunea Mamaia unde predam
                     doar WingChun care presupune un efort mai soft comparativ cu Judo, impreuna cu o multitudine de exercitii pentru recuperarea conditiei fizice pierdute.
                     In paralel ne aflam in cautarea unei sali pentru antrenamente, Sensei Adetu Daniel fiind direct implicat aici.</p>
                  </nz-timeline-item>

                  <nz-timeline-item nzColor="red">
                    - <b>Septembrie 2021</b> <p>Pandemia continua, valurile 3, 4 si 5, ne-am vaccinat cu 2 doze. Intre timp am gasit o noua sala pentru antrenamente si ne desfasuram activitatea in conditii foarte bune.</p>
                  </nz-timeline-item>

                  <nz-timeline-item>
                    <b>Ianuarie 2022</b> - <p>Incepem reconstructia. Se contureaza un nucleu de copii alcatuit din practicanti vechi si noi. Continuam antrenamentele de Judo, Ju-Jitsu si Wing-Chun pentru copii si adulti.</p></nz-timeline-item>
                  </nz-timeline>
                <ng-template #dotTemplate>
                  <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Principii si valori">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Principiile si valorile care ne reprezinta</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-3">
                <img class="img-fluid" src="/assets/img/mrKano.jpg">
                <mat-card-subtitle class="mat-card-subtitle mt-2 text-center">Sensei Jigoro Kano - fondator Judo</mat-card-subtitle>
              </div>
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
              <p>1. Voi fi mereu stăpânul gândurilor mele şi voi cultiva numai gânduri bune. În dojo îmi voi stăpâni stările sufleteşti pentru a nu îngreuna munca colegilor mei şi a mea.</p>
              <p>2. Întotdeauna îmi voi păzi limba pentru a nu rosti cuvinte dispreţuitoare sau supărătoare. Întotdeauna voi spune numai adevărul. Vreau s-a scult de două ori, să judec şi apoi să vorbesc. Pentru aceasta am două urechi şi o singură gură.<p>
              <p>3. Vreau să-mi supraveghez faptele. Voi lupta numai pentru adevăr, frumos şi pentru bine. Niciodată n-am să păgubesc pe cineva prin faptele mele.</p>
              <p>4. Voi glumi şi voi râde cu colegii mei, dar niciodată n-am să iau ceva în derâdere, n-am să stric momente solemne. Vreau să mă bucur de tot ceea ce este frumos.</p>
              <p>5. Voi asculta sfaturile antrenorilor şi ale colegilor mai bine pregătiţi şi voi încerca să le aplic. În situaţii serioase voi rămâne serios. Dacă am alte păreri personale, le voi arăta pe faţă.</p>
              <p>6. La orele de antrenament nu voi practica altceva decât sportul nostru: JU-JITSU. Vreau să-mi concord toate gândurile numai asupra ju-jitsu-ului. Voi progresa numai străduindu-mă neîncetat să dau maximum de randament. Vreau să ajut şi pe alţii să cunoască ju-jitsu-ul în splendida sa frumuseţe.</p>
              <p>7. În timpul concursurilor voi lupta curajos şi cinstit. Îmi voi stima adversarul şi mă voi strădui mereu să obţin victorii pentru echipa şi ţara mea. Ca învingător nu mă voi înfumura, iar ca învins voi munci înzecit pentru a mă pregăti
              <p>8. La durere nu mă voi tângui, demonstrând stăpânire de sine. Nu-mi voi indispune colegii prin urlete şi jeluiri. Voi ierta pe cei ce, cu sau fără voia lor, mi-au pricinuit aceste dureri.</p>
              <p>9. Voi lupta cinstit şi corect, nu mă voi lăuda şi nu voi căuta să ies în evidenţă. Dacă voi fi silit să mă apăr, sau să apăr pe alţii în cazul unui pericol, nu voi porni ca un sălbatec, ci voi folosi forţa şi cunoştinţele mele numai pentru a înfăptui binele şi a apăra devărul.</p>
              <p>10. “Înţeleptul cedează”, spune un vechi proverb. Vreau ca atât în viaţa de zi cu zi, cât şi la antrenamente, să cedez pentru a învinge. Niciodată n-am să fug din laşitate şi nu voi ocoli primejdia arătându-i spatele.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Instructori">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.png">
            <mat-card-title>Despre cei care ne indruma</mat-card-title>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <!-- <div class="col-xs-12 col-md-3">
                <img class="img-fluid" src="/assets/img/mrKano.jpg">
                <mat-card-subtitle class="mat-card-subtitle mt-2 text-center">Sensei Jigoro Kano - fondator Judo</mat-card-subtitle>
              </div> -->
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <h3 class="mb-0"><b>Ungureanu Cosmin Marius</b></h3>
              <p>
                Nascut in Mangalia Judetul Constanta la data de 15.03.1975, incep artele martiale in anul 1988 in sala Academiei Navale Mircea Cel Batran avand ca sensei
                pe Dumitrescu Nicolae, alaturi de care voi evolua pana in anul 1999 si sub indrumarea caruia obtin in acest interval urmatoarele grade: 21.08.1991, 4 kyu (Olimp),
                23.08.1992, 3 kyu (Olimp), 21.08.1994, 2 kyu (Constanta), 05.02.1995, 1 kyu (Galati).
                Alaturi de sensei Dumitrescu particip la stagii si competitii nationale culminand cu obtinerea unei medalii de bronz la sectiunea kumite in campionatul national de
                karate traditional de la Hunedoara in toamna anului 1995.
                Din motive bine intemeiate sunt nevoit sa renunt o perioada la antrenemente intrucat urma sa imi sustin examenul de licenta, coroborat cu inscrierea la masterat si
                cu angajarea mea la primul job, evenimente care m-au lipsit de timpul necesar practicarii artei.
                In 2004 revin in forta si ii intalnesc pe viitorii mei prieteni si asociati Artac Daniel, Anton Gheorghe si Adetu Daniel alaturi de care ma voi antrena sub egida
                clubului A.C.S. Frontiera Tomis Constanta, club unde am experimentat pentru prima data Judo si Ju-jutsu. La numai un an obtin gradul de Go Kyu (27.03.2005) pentru
                ca la un an si jumatate distanta pe data de 28.11.2006 sa sustin examenul de 1 Dan in cadrul stagiului international de la Constanta avandu-l ca examinator pe
                Shike Giacomo Spartaco Bertoleti 9 Dan, Presedinte al World Ju-jitsu Kobudo Organization, moment care imi va schimba definitiv viziunea in ceea ce priveste drumul
                pe care il voi urma. In intervalul urmator si pana in prezent particip la numeroase stagii nationale conduse de maestri cu renume national si internationali cum ar
                fi: Venus 23-26 Iunie 2006 stagiul "International Martial Arts Seminar" condus de Kancho Yoshiji Soeno (President of WKA Shidokan); Constanta 04 - 06.09.2009 Stagiu
                organizat de Clubul C.S. Varan sub egida World Ju-Jitsu Kobudo Organization sub indrumarea Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jutsu; 05 - 11.07.2010
                Eforie Sud Cantonament de pregatire alaturi de Clubul CS Varan sub indrumarea George Chivaran ; 29 - 31.07.2010 Constanta si Corbu Stagiu de pregatire
                Chivaran George 6 Dan Ju-Jutsu, 26 - 28.08.2010 Constanta si Corbu, Stagiu de pregatire Chivaran George 6 Dan Ju-Jutsu, etc.
                In anii care urmeaza voi fi intr-o continua competitie cu mine insumi din dorinta de a evolua pe toate planurile punand in practica antrenamentul paralel pentru mai
                multe discipline printre care si Wing Chun care devine una dntre favoritele mele.
              </p>
              </div>
            </div>

            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col-xs-12 col-md-6 text-justify">
                <h3 class="mb-0"><b>Adetu Daniel</b></h3>
              <p>
                Nascut in orasul Constanta la data de 23.02.1970, intru in contact cu artele martiale in anul 1994 la indrumarea bunului meu prieten Balint Claudiu, care ma convinge
                sa merg cu el la sala unde se antrena si unde i-am avut ca Sensei pe Paul Dicu si Chevici Cristian, alaturi de care incep sa deslusesc tainele Aikijutsului.
                Dupa o perioada de timp sensei Chevici se desparte de dojoul la care ne antrenam, iar eu i-au decizia de a-l urma, incepand sa studiez alaturi de acesta Bu-Tai Jutsu in
                cadrul grupului Nihon Kobudo Renmei sectia Romania. In toata aceasta perioada avansez pana la gradul de 1 kyu, dupa care imi intrerup activitatea sportiva fiind nevoit
                sa ma imbarc pentru a naviga. Intre timp Sensei Chevici pleaca pentru o perioada nedeterminata la Orastie unde se si stabileste. In 2001 ma intorc din voiaj si neavand
                unde sa ma antrenez, ma intalnesc intamplator cu Artac Daniel si ma hotarasc sa merg la sala unde acesta se atrena, loc unde il cunosc pe Horia Anton Gheorghe, alaturi
                e care incep sa studies ju-jutsu si judo sub egida A.C.S. Frontiera Tomis Constanta, pentru ca mai tarziu sa il intalnesc si pe Ungureanu Marius care se alatura grupului.
                Pe data de 15.10.2006 sustin examenul de 1 Dan (shodan) in cadrul stagiului de la Bucuresti organizat sub egida World Ju-Jitsu Kobudo Organization sub indrumarea
                Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jutsu. Intre timp continui sa particip la diferite stagii si seminarii alaturi de diversi maestrii ai artelor martiale,
                unde particip alaturi de colegii mei sau singur:
                Venus 17-19 iunie 2005 stagiul "International Martial Arts Seminar" , Venus 23-26 Iunie 2006 stagiul "International Martial Arts Seminar" condus de Kancho Yoshiji Soeno
                (President of WKA Shidokan); 13-15 octombrie 2006 Stagiu organizat de Clubul C.S. Varan sub egida World Ju-Jitsu Kobudo Organization sub indrumarea Shike G.S. Bertoleti si
                George Chivaran 6 Dan Ju-jutsu, Venus 22-24 iunie 2007 stagiul "International Martial Arts Seminar" , 25-28 octombrie 2007 Stagiu organizat de Clubul C.S. Varan sub egida
                World Ju-Jitsu Kobudo Organization sub indrumarea Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jitsu, 23-25 noiembrie 2007 participant la Festivalul International
                "Arte Martiale Fara Frontiere" de la Timisoara sun indrumarea unor maestri de renume mondial cum ar fi: Soke Fumon Tanaka , Shike Giacomo Spartaco Bertoletti,
                Maitre Pham Xuam Tong, Shihan Jozsef Borza, Constanta 04 - 06.09.2009 Stagiu organizat de Clubul C.S. Varan sub egida World Ju-Jitsu Kobudo Organization sub indrumarea
                Shike G.S. Bertoleti si George Chivaran 6 Dan Ju-jutsu; 05 - 11.07.2010 Eforie Sud Cantonament de pregatire alaturi de Clubul CS Varan sub indrumarea George Chivaran;
                29 - 31.07.2010 Constanta si Corbu Stagiu de pregatire Chivaran George 6 Dan Ju-Jutsu, 26 - 28.08.2010 Constanta si Corbu, Stagiu de pregatire Chivaran George 6 Dan
                Ju-Jutsu.
              </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

  </mat-tab>
</mat-tab-group>
