<mat-tab-group>
  <mat-tab label="Initiere primara">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp">
            <mat-card-title>Antrenamente</mat-card-title>
            <mat-card-subtitle>Primii pasi pe tatami</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-8">
                <!-- <img class="img-fluid" src="assets/img/zaRei.jpg"> -->
              </div>
            </div>
            <div class="row row mt-3 d-flex justify-content-center align-items-center h-100" style="padding-bottom: 300px;">
              <div class="col col-md-8">
                <p>Faptul ca va aflati pe aceasta pagina deja reprezinta primul pas catre o experienta unica, un fenomen, care se numeste simplu "Judo". O arta martiala moderna
                  cu radacini milenare care reuseste sa captiveze si sa atraga definitiv, inimile celor care au curajul sa isi doreasca un mod de viata si nu doar un sport,
                  urmatoarele randuri venind in sprijinul a ceea ce am afirmat aici.
                </p>

                <p>Oricine începe practica artelor martiale e motivat de un scop anume, sau de un set de obiective. Printre cele mai frecvente se numara dorinta de a învata
                  autoapararea, de a-si dezvolta conditia fizica sau de a cauta companie. În timp, aceste scopuri initiale capata un alt înteles pe masura ce începem sa simtim
                  efectul transformator pe care arta martiala il are asupra vietii noastre.
                </p>

                <p>
                  Pentru ca artele martiale în general sunt discipline care predau tehnici capabile sa raneasca si sa ucida un adversar, ele trebuie practicate cu un simt al
                  seriozitatii si o atentie la cel mai mic detaliu datorita riscurilor inerente existente. Antrenamentul într-o stare mentala astfel orientata duce progresiv
                  la cultivarea a ceea ce poate fi descris ca "spirit martial".
                </p>

                <p>
                  Folosim aici termenul "martial" cu acelasi sens ca în cuvântul "bu" din japoneza, din "budo", de obicei tradus ca "arta martiala". "Bu" cuprinde doua concepte cheie.
                  În primul rând, implica ideea unui sistem oriental de deprinderi de lupta cu origini clasice orientate în special spre învatarea autoapararii. Iar in al doilea rand
                  cuprinde notiunea unei activitati sau cautari menite sa conduca practicantul de-a lungul unei cai de perfectionare spirituala.
                </p>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Focalizat martial">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp">
            <mat-card-title>Antrenamentul focalizat martial</mat-card-title>
            <mat-card-subtitle>O stare de spirit</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-8">
                <!-- <img class="img-fluid" src="assets/img/zaRei.jpg"> -->
              </div>
            </div>
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100" style="padding-bottom: 150px;">
              <div class="col col-md-8 text-justify">
                <h4>"Bu"</h4>
                <p>
                  Elementul "bu" sau martial este o parte atât de vitala a antrenamentului încât îndepartarea lui ar reduce arta la un sistem de exercitii pentru sanatate.
                  El se iveste din constientizarea pericolelor inerente ale antrenamentului introducând prin aceasta în timpul practicii un fel de tensiune mentala care produce
                  în timp o stare de sensibilitate ridicata. Iata câteva din procesele din dojo care sustin dezvoltarea acestei stari de spirit martiale.
                </p>

                <h4>Eticheta</h4>
                <p>
                  Eticheta este una din pietrele de temelie ale comportamentului corect în dojo. Multi înteleg gresit importanta formalitatilor care trebuie respectate în dojo.
                  Obiceiurile pe care le observam înainte, în timpul si dupa antrenament sunt concepute pentru a stabili un cadru controlat în care tehnici foarte periculoase
                  pot fi practicate în siguranta. Eticheta nu trebuie înlaturata ca fiind un set gol de ritualuri îndeplinite numai din obisnuinta.
                </p>

                <p>
                  Eticheta are o valoare mare si în afara dojo-ului. Este o forma de lubrifiant social care face ca interactiunile personale sa se desfasoare mai linistit.
                  Oamenii meticulos de politicosi îsi fac mai putini dusmani, lucru pe care si-l doreste în mod evident orice exponent al artelor martiale.
                </p>

                <h4>A fi "uke"</h4>
                <p>
                  Antrenamentul este compus din parteneri care joaca pe rând rolul lui nage (cel care arunca) si uke (cel care este aruncat). Miscarile pereche sunt similare
                  cu kata sau formele practicate în numeroase arte martiale clasice si în câteva arte moderne. Formele sunt, oricum, mai putin structurate si servesc drept
                  indicatii pentru executia corecta a tehnicilor care vor fi modificate în conformitate cu specificul confruntarii.
                </p>

                <p>
                  La antrenament, procedeul care urmeaza sa fie aplicat este cunoscut ambilor parteneri înainte de începerea atacului. Acesta este un factor în plus care
                  asigura un mediu pentru practicarea în siguranta. Din acest motiv este important ca uke sa atace curat si cu intentie, fara a anticipa raspunsul lui nage
                  bazându-se pe ce stia dinainte. Nage are nevoie de un atac hotarât pentru a întelege problemele de echilibru, mecanica corpului si curgerea energiei.
                  Atitudinea martiala a lui uke îl va proteja de accidentari si-i va sustine propriul progres si pe cel al partenerilor de antrenament. Uke va mai fi rasplatit
                  pentru eforturile sale si printr-un corp flexibil, bine antrenat, care e obisnuit cu caderea o experienta incomoda, daca nu periculoasa pentru cei mai multi
                  oameni.
                </p>

                <h4>A fi "tori"</h4>
                <p>
                  În abordarea stil kata descrisa mai sus, nage stie natura atacului, asa ca se poate concentra asupra deplasarii corecte a corpului, a distantei si a
                  dezechilibrarii partenerului. Elementul de stres emotional care ar însoti de regula o confruntare din viata reala e în mare masura absent în acest context de
                  baza al antrenamentului. Miscarea initiala a lui nage trebuie sa-l dezechilibreze pe partener pentru ca uke nu va mai putea sa se opuna daca si-a pierdut
                  centrul de greutate.
                </p>

                <p>
                  Nage are de câstigat prin practicarea de-a lungul unei perioade îndelungate pâna la momentul în care tehnicile devin o a doua natura. El învata sa-si reeduce
                  instinctul de a se opune atacurilor în favoarea raspunsurilor de tip armonizare. El învata sa-si mentina stapânirea de sine fizica si mentala în fata
                  atacurilor care ar nelinisti o persoana neantrenata. Pe masura ce se desfasoara procesul de învatare—constient sau nu—nage îsi dezvolta un nivel crescut al
                  perceptiei a ceea ce se petrece în imediata sa apropiere. El devine capabil sa discearna ce constituie o amenintare reala si ce nu. Prin aceasta atitudine de
                  vigilenta constanta se remarca oamenii cu formatie budo si ea este o componenta fundamentala a spiritului martial.
                </p>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Obiective">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp">
            <mat-card-title>Scopul final este protejarea vietii, libertatii si a proprietatii</mat-card-title>
            <mat-card-subtitle>Identificarea obiectivelor antrenamentului</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-4">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100" style="padding-bottom: 150px;">
              <div class="col col-md-8 text-justify">
                <p>
                  Practicantii de arte martiale ar trebui sa-si revizuiasca regulat activitatile si circumstantele normale pentru a identifica zonele periculoase sau
                  slabiciunile care cer mai multa atentie.
                </p>

                <p>
                  Iata un exemplu specific. Practicantii vad uneori deficiente în arta lor în comparatie cu alte arte martiale. Ca urmare, devine tentanta dezbaterea
                  scenariilor "ce-ar fi daca" discutând eficienta tehnicilor pe care le practicam. Dar oare noi ne antrenam într-adevar pentru a putea învinge un campion
                  de karate, un boxer profesionist sau un luptator olimpic? Cum ne-ar putea ajuta canalizarea energiilor spre astfel de scopuri sa ne pregatim pentru tipurile
                  de atacuri la care am putea fi expusi? Nu exista un mod real de a pune artele în vreo ordine ierarhica a eficientei pentru ca nu se poate nascoci un obiectiv
                  standard care sa masoare meritele lor relative. Acest exercitiu mental poate furniza combustibil discutiilor de pe forumuri dar natura ipotetica a oricarei
                  împerecheri face orice concluzie pur speculativa.
                </p>

                <p>
                  Deci, n-ar trebui sa privim practica pe care o desfasuram ca pe o pierdere de timp numai pentru ca deprinderile noastre în arta respectiva nu pot face fata
                  unui luptator profesionist. Daca acesta ar fi fost într-adevar scopul nostru, cu siguranta ca nu ne-am fi apucat de la bun început. Asta nu înseamna ca trebuie
                  sa abordam antrenamentul la întâmplare sau ca trebuie sa urmarim rezultate mediocre. Esential e ca scopul nostru final trebuie sa fie protejarea vietii, libertatii
                  si proprietatii, nu învingerea unui adversar într-un meci.
                </p>

                <h4>Scenarii reale</h4>
                <p>
                  Sa presupunem ca un sondaj privind împrejurimile ne ofera concluzia ca una din grijile noastre reale este un atac fizic întâmplator. Am putea fi surprinsi
                  mergând pe strada, conducând masina sau chiar în propria casa. În lumea noastra reala e de asteptat ca atacatorul sa aiba o arma de foc sau un cutit si sa
                  aiba unul sau mai multi complici.
                </p>

                <p>
                  Elementul surpriza este unul din motivele principale pentru care acest fel de atacuri întâmplatoare reusesc. De cele mai multe ori nu e sofisticarea atacului,
                  ci faptul ca victima a fost prinsa cu garda jos si asta a facut sa fie ranita sau ucisa.
                </p>

                <p>
                  Datorita faptului ca nu putem sti exact natura unui atac întâmplator sau chiar daca vom fi vreodata obiectul unui atac, ceea ce ne trebuie e mai degraba un
                  nivel de pregatire psihologica decât cunoasterea unor tehnici specifice de aparare. Trebuie sa ne dezvoltam o stare constanta de vigilenta si sa fim capabili
                  sa raspundem instinctiv la amenintari neprevazute. Trebuie sa devenim indivizi sanatosi, flexibili si bine antrenati, capabili sa se adapteze rapid la
                  situatiile provocatoare.
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="De ce?">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp">
            <mat-card-title>Motivele pentru care as alege artele martiale</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100" style="padding-bottom: 380px;">
              <div class="col col-md-8 text-justify">
                <p>
                  Toate acestea ne duc la o întrebare perfect rezonabila. De ce sa studiem arte martiale si nu altceva cu o aplicabilitate mai imediata la incidentele urbane
                  ca folosirea armelor de foc sau luptele de strada? Depinzând de propriile circumstante, poate fi într-adevar o idee buna practicarea altor discipline.
                  Exista cu siguranta argumente puternice în favoarea antrenamentului paralel.
                </p>

                <p>
                  Acestea fiind spuse, alt motiv convingator pentru pregatirea în artele martiale are de-a face cu a doua componenta a "bu" mentionata anterior. Adica, arta
                  martiala este si o cale de dezvoltare spirituala. El contine imperativul moral de a respecta si a proteja toate fiintele vii. Artele martiale proiecteaza
                  o vedere idealizata a unei lumi în armonie si tehnicile artei exemplifica aceasta viziune abstracta într-un context tangibil, fizic. Mai mult, tehnicile
                  întruchipeaza principiul non-rezistentei. Se întâmpla sa fie si o formula excelenta de a ne trai viata într-o lume încarcata cu pericole si neîntelegeri.
                </p>

                <p>
                  De cele mai multe ori provocarile de care ne lovim în viata de zi cu zi nu implica confruntari fizice directe. De cele mai multe ori bataliile noastre au
                  loc pe un plan interior, psihologic, în lupta noastra cu problemele si incertitudinile fara sfârsit ale vietii. Spiritul martial cultivat prin anii de
                  antrenament poate fi în aceste vremuri un bun de o valoare nepretuita.
                </p>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Istoric Judo">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="img-fluid" src="assets/img/bodaishin.webp">
            <mat-card-title>Istoria artei</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="pt-2">
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100">
              <div class="col col-md-6">
                <img class="img-fluid" src="assets/img/warFlag.webp">
              </div>
            </div>
            <div class="row mt-3 d-flex justify-content-center align-items-center h-100" style="padding-bottom: 150px;">
              <div class="col col-md-8 text-justify">
                <p>
                  <b>Istoria Ju-Jitsu</b> dateaza de peste 1000 ani. Exista referinte in literatura timpurie despre lupta cu mainile goale, care se numea Chikara Kurabe, consemnate
                  cu cateva sute de ani inainte de Hristos.
                </p>

                <p>
                  Ju-Jitsu a fost dezvoltat in Japonia in timpul epoci feudale. Originar Ju-jitsu a fost un cult destinat razboiului, dar dupa abolirea sistemului Feudal in Japonia,
                  arta a suferit modificari pentru a putea fi practicata. In epoca feudala Ju-jitsu a fost deasemenea cunoscut sub numele de “Yawara, Hakuda, Kogusoko” si multe altele.
                  Cea mai veche atestare a folosintei termenului de “ju-jitsu” dateaza din anul 1532 si este asociat cu scoala Takenouchi. Istoria artei la acesta perioada este incerta
                  deoarece profesorii o tineau secreta.
                </p>

                <p>
                  <b>"Bugei"</b> sau razboinicii japoniei antice erau scoliti in diferite ryu sau metode in functie de locatie sau de scoala dominanta din acea perioada.
                  Oficial au fost atestate 725 de scoli de Ju-Jitsu existand intre ele o mare varietate in modul in care abordau lupta.
                </p>

                <p>
                  <b>Ju-Jitsu</b> angajeaza tehnici cu mainile goale pentru a dobora un adversar care constau in lovituri cu piciorul, cu pumnii sau cu alte parti ale corpului,
                  numite atemi; tehnici de proiectare a adversarului, numite <b>nage waza</b>, fixari sau tehnici de imobilizare, numite <b>osae waza</b>, chei articulare, numite
                  <b>kansetsu waza</b> si strangulari sau sufocari, numite <b>shime waza</b>.
                </p>

                <p>
                  Este de mentionat ca tehnicile cu mainile goale aveau oarecum un rol secundar intrucat interveneau in momentele in care erau dezarmati, astfel putand sa continue lupta.
                </p>

                <p>
                  Primele arme ale Ju-Jitsuka sau ale practicantilor de Ju-Jitsu sunt sabia, numita <b>(ken)</b> sau <b>(tachi</b>), batul <b>(jo)</b>, bastonul <b>(bo)</b>,
                  lancea <b>(naginata)</b>, sulita <b>(yari)</b>, cutitul <b>(tanto</b>) si metodele de legare cu funia numite <b>(hojo jutsu)</b>. Mai mult decat atat, vechile
                  scoli de Ju-Jitsu si-au instruit studentii in metode de medicina traditionala, invatandu-i sa foloseasca plantele medicinale si masajul. Iar ca o mica surpriza,
                  vechii maestri de Ju-Jitsu au fost de asemenea doctorii comunitatii in care traiau, fiind recunoscuti pentru abilitatile lor de a pune la loc oasele rupte sau
                  dislocate.
                </p>

                <p>
                  La un moment dat Ju-Jitsu si-a castigat o reputatie chiar proasta intrucat acesta a fost folosit de catre talhari pentru a prada, sau in luptele pe plan local pentru
                  suprematie economica. In aceste scoli accidentarile erau frecvente transformandu-se in locuri frecventate de catre cei mai duri oameni. Predarea fiind adesea dezorganizata
                  si fara sa urmeze o logica sau un set de principii.
                </p>

                <p>
                  Dupa ce epoca feudala a luat sfarsit in Japonia (Ju-jitsu nu mai era folosit pe campul de lupta) trebuia gasit un mod realist de a practica.
                  Jigoro Kano (1860-1938) practicant de ju-jitsu a dezvoltat propriul sistem la sfarsitul anilor 1800 numit judo. <b>Judo</b> a fost de mare ajutor deoarece a permis
                  practicantilor posibilitatea de a incerca arta , sigur si realist in acelas timp. Kano a inventat noi proiectari si a descoperit conceptul de <b>"kuzushi"</b> sau de
                  dezechilibrare ca modalitate de a arunca adversarul fara parghie. Dar cea mai importanta contributie pe care o are judo-ul in practica ju-jitsu a fost conceptul de
                  randori. <b>Randori</b> este o forma de antrenament reala dar ne-letala, care contine un set de reguli sportive. Datorita tentei sportive, randori ajuta elevii lui Kano sa
                  practice Ju-Jitsu fara a se rani.
                </p>

                <p>
                  <b>"Randori"</b> sau atitudinea de a lupta liber in judo a fost o idee unica la acel moment. Kano a observind ca mai multe stiluri se aflau in situatia de a fi o pala comparatie
                  cu predecesoarele lor din care proveneau.
                </p>

                <p>
                  In timpul perioadei de declin a sogunatului Tokugawa si modernizarea Japoniei competitiile erau privite ca fiind violente, primitive si chiar vulgare.
                  Practicantii artelor din acea perioada priveau arta lor ca fiind prea mortala pentru a fi practicata pe un partener sau adversar, aceasta atitudine fiind
                  In timpul perioadei de declin a sogunatului Tokugawa si modernizarea Japoniei competitiile erau privite ca fiind violente, primitive si chiar vulgare.
                  Practicantii artelor din acea perioada priveau arta lor ca fiind prea mortala pentru a fi practicata pe un partener sau adversar, aceasta atitudine fiind
                  transmisa din kenjutsu, arta de a lupta cu sabia.transmisa din kenjutsu, arta de a lupta cu sabia.
                </p>

                <p>
                  Din moment ce ei nu puteau practica arta unul pe celalalt, perfectiunea miscarilor a fost considerata un test de indemanare. Astfel maestri de kenjutsu (sabie) erau cei
                  mai admirati in domeniul artelor Japoneze, aceasta atitudine fiind adoptata si de celelalte arte, ale timpului precum si de scolile de Ju-Jitsu. Toate acestea au favorizat
                  dezvoltarea formelor de "kata" ca nucleu principal de formare, in loc de o atitudine fireasca, competitiva, fiind predate miscarile idealizate ca forma care se presupunea
                  ca se vor traduce intr-o abilitate reala de lupta. Ideea si imaginea de Budo devenind un substitut sarac pentru ceea ce a fost odata <b>"calea razboinicului"</b>.
                </p>

                <p>
                  Pentru cei care nu constientizeaza inca, Ju-Jitsu reprezinta nucleul stiintific al tuturor artelor matiale japoneze. Foarte multi oameni in zilele noastre sunt familiarizati
                  cu termenul de brazilian Ju-Jitsu or Gracie Ju-Jitsu. Aceasta datorita popularitati de data recenta provenita din victoriile in Ultimate Fighting Competition
                  ale lui Roice Gracie. Insa adevarul este ca Ju-Jitsu este acelasi care a fost practicat cu multi ani in urma de catre samurai. Doar ca stiinta din zilele noastre a rafinat
                  si continua sa dezvolte aceasta arta.
                </p>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
