.login-form {
  padding: 20px;
}
mat-card-content button {
  width: 100%;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  padding: 0px;
}
mat-form-field {
  display: block;
}
