.sidenav-container {
  min-height: 400px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 50px;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.menuIsActive {
  background-color: #3C226A !important;
  color: #ffffff!important;
}

@media only screen and (max-width: 500px) {
  mat-sidenav {
     top: 112px!important;
  }
}
