<div class="container-fluid pb-2">
  <div class="row">
    <div class="col location-banner">
      <img src="assets/img/MatsumotCastle.jpg" class="img-fluid" alt="Top banner location">
    </div>
  </div>
</div>

<div class="container-fluid pt-2">
  <div class="row">
    <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5724.36390826026!2d28.62795503579791!3d44.162109141872754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x374b9c4e9f352807!2sJu-Jitsu%2C%20Judo%20and%20Wing%20Chun%20Dojo!5e0!3m2!1sen!2sro!4v1641233145658!5m2!1sen!2sro" width="auto" height="470" style="border:0; padding-left: 0px; padding-right: 0px" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

<div class="content p-2">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
      <mat-card class="mat-elevation-z4">

        <mat-card-header>
          <span class="material-icons main-icon">{{card.icon}}</span>
        </mat-card-header>

        <mat-list role="list">
          <mat-list-item role="listitem"><span class="span-item span-item-title">{{card.title}}</span></mat-list-item>
          <mat-list-item role="listitem"><span class="span-item">{{card.firstRow}}</span></mat-list-item>
          <mat-list-item role="listitem"><span class="span-item">{{card.secondRow}}</span></mat-list-item>
        </mat-list>

      </mat-card>
    </div>
  </div>
</div>
