<div class="footer d-flex justify-content-center align-items-center">
  <ul>
    <li><a mat-button [routerLink]="['/home']" title="Prima pagina">Home</a></li>
    <li><a mat-button [routerLink]="['/about']" title="Mai multe informatii despre noi">Despre noi</a></li>
    <li><a mat-button [routerLink]="['/trainings']" title="Judo, Ju-Jitsu, Wing Chun">Antrenamente</a></li>
    <!-- <li><a mat-button [routerLink]="['/galerie']">Galerie</a></li> -->
    <li><a mat-button [routerLink]="['/location']" title="Unde ne puteti gasi">Contact</a></li>
  </ul>
</div>

