.footer {
  background: #673ab7;
  height: 100px;
  color: white;
}

.footer a:hover {
  color: #ffd740;
}

.footer ul {
  text-align: center;
  text-align: center;
  list-style-type: none;
}

.footer li {
  display: inline;
}
